# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
   return(
            <div className="container">
                <div className="row">
                    <div className="box">
                       <Form onSubmit={handleSubmit}>
                                    <div className="d-flex flex-column">
                                        {/* nama */}
                                        <label>Nama Pasien: </label>
                                        <Form.Control type="text" value={nama} onChange={(e)=> setNama(e.target.value)} placeholder="nama pasien" /><br/>
                                        {/* no telepon */}
                                        <label>No Telepon:</label>
                                        <Form.Control type="text" value={no_telp} onChange={(e)=> setNo_telp(e.target.value)} placeholder="no telepon" /><br/>
                                        {/* tanggal daftar */}
                                        <label>Tanggal Daftar</label>
                                        <Form.Control type="date" value={tanggal_daftar} onChange={(e)=> setTanggal_daftar(e.target.value)} placeholder="name@example.com" />
                                        {/* pilih biaya */}
                                        <div className="p-2 col-example text-left">
                                            <div className="d-flex justify-content-start">
                                                <div className="p-2 col-example text-left">
                                                    <label>Biaya:</label>
                                                    <Form.Select size="sm" value={kode_biaya} onChange={(e)=> setKode_biaya(e.target.value)}>
                                                        <option value="">Pilih Biaya</option>
                                                        {biaya.map(item => {
                                                            return(
                                                                <option key={item.kode_biaya} value={item._id}>{item.nama_biaya}</option>
                                                            )
                                                        })}
                                                    </Form.Select>
                                                </div>
                                                
                                                {/* pilih Kamar */}
                                                <div className="p-2 col-example text-left">
                                                    <label>Kamar:</label>
                                                    <Form.Select size="sm" value={kode_kamar} onChange={(e)=> setKode_kamar(e.target.value)}>
                                                        <option value="">Pilih Kamar</option>
                                                        {kamar.map(item => {
                                                            return(
                                                                <option key={item.kode_kamar} value={item._id}>{item.nama_kamar}</option>
                                                            )
                                                        })}
                                                    </Form.Select>
                                                </div>

                                                {/* pilih jenis_kelamin */}
                                                <div className="p-2 col-example text-left">
                                                <label>Jenis Kelamin:</label>
                                                    <Form.Select size="sm" value={jenis_kelamin} onChange={(e)=> setJenis_kelamin(e.target.value)}>
                                                        <option value="">Pilih Jenis Kelamin</option>
                                                        <option value="L">Laki-Laki</option>
                                                        <option value="P">Perempuan</option>
                                                    </Form.Select>

                                                </div>

                                                {/* pilih penyakit */}
                                                <div className="p-2 col-example text-left">
                                                    <label>Penyakit:</label>
                                                    <Form.Select size="sm" value={kode_penyakit} onChange={(e)=> setKode_penyakit(e.target.value)}>
                                                        <option value="-">Pilih Penyakit</option>
                                                        {penyakit.map(item => {
                                                            return(
                                                                <option key={item._id} value={item._id}>{item.nama_penyakit}</option>
                                                            )
                                                        })}
                                                    </Form.Select>
                                                </div>
                                            
                                                {/* pilih golongan_darah */}
                                                <div className="p-2  col-example text-left">
                                                    <label>Golongan Darah:</label>
                                                    <Form.Select size="sm" value={golongan_darah} onChange={(e)=> setGolongan_darah(e.target.value)}>
                                                        <option Value="">Pilih G_darah</option>
                                                        <option Value="A">A</option>
                                                        <option Value="B">B</option>
                                                        <option Value="AB">AB</option>
                                                        <option Value="O">O</option>
                                                    </Form.Select>
                                                </div>
                                            </div>
                                        </div>

                                        {/* alamat */}
                                        <label>Alamat:</label> 
                                        <Form.Control type="text" value={alamat} onChange={(e)=> setAlamat(e.target.value)} placeholder="alamat" /><br/>

                                        <div className="d-flex flex-row-reverse">
                                            <div className="p-2"><button type="submit" className="btn btn-primary" size="sm">Tambah</button></div>
                                            <div className="p-2"><Link to={`/pasien`} className="btn btn-primary" >Batal</Link>{' '}</div>
                                        </div>
                                    </div>
                                </Form>


                    </div>
                </div>
            </div>
        );